html {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1526781100743-007e0dc2b474?q=80&w=2836&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#searchResults, time {
    /* visibility: hidden; */
    display: none;
}

#title {
    border: 10px  #fcd4e6 solid;
    border-radius: 10%;
    background-color: #fcd4e6
}


